.apply-now-form {
  margin: 2% 5%;
}

.program,
.form-container {
  border: 1px solid rgb(1, 1, 50);
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1rem;
  width: 85vw;
  max-width: 700px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.school-program {
  display: none;
}

.school-program.active {
  display: block;
}

.form-container input,
.form-container select {
  padding: 0.5em;
  margin-bottom: 1rem;
  font-family: "Manrope";
  font-size: 1.125rem;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 15px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

input.button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 637px) {
  .program,
  .form-container {
    width: 100%;
  }
}
