<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/styles-1.css" />
    <title>Scholarship and Opportunities</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="/js/script.js" defer></script>
  </head>
  <body>
    <!-- HEADER SECTION-->

    <!--First Header-->
    <div class="first-header">
      <div class="logo">
        <h1>
          HERITAGE <img src="../public/images/logo.jpg" alt="LOGO" /> UNIVERSITY
        </h1>
        <p>HIGHER INSTITUTE OF PEACE AND DEVELOPMENT STUDIES</p>
      </div>
      <div class="social-media">
        <div class="social-media-icons">
          <a href="#">
            <span><i class="fa-brands fa-square-facebook"></i></span>
          </a>
          <a href="#">
            <span><i class="fa-brands fa-square-whatsapp"></i></span>
          </a>
          <a href="#">
            <span><i class="fa-brands fa-square-twitter"></i></span>
          </a>
        </div>
      </div>
    </div>

    <!--Second Header-->
    <nav class="nav-bar">
      <input type="checkbox" id="side-bar-check" />
      <label for="side-bar-check" class="open-side-bar"
        ><i class="fa-solid fa-bars"></i
      ></label>
      <label for="side-bar-check" id="side-bar-overlay"></label>
      <div class="links-container">
        <label for="side-bar-check" class="close-side-bar"
          >X - close menu</label
        >

        <div class="main-links">
          <a href="/">Home</a>
          <a href="/programs">Programs</a>
          <a href="/about-us">About Us</a>
          <a class="active" href="/scholarship-opportunities"
            >Scholarship&nbsp;<i>&amp;</i>&nbsp;Opportunities</a
          >
          <a href="#">News &amp; Updates</a>
        </div>
      </div>

      <div class="ac-btn">
        <a href="/apply" class="apply-now-btn">Apply Now</a>

        <input type="checkbox" id="contact-us-status-active" />
        <label for="contact-us-status-active" id="contact-us-btn" class="button"
          >Contact Us</label
        >

        <label
          for="contact-us-status-active"
          class="contact-us-overlay"
        ></label>

        <div class="contact-form-page">
          <label for="contact-us-status-active" class="close-contact-us-page"
            ><i class="fa-solid fa-xmark"></i
          ></label>
          <!--send us a message-->
          <p class="amh">Contact Us</p>
          <form action="/submit" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required />

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required />

            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="6" required></textarea>

            <button type="submit" class="button">
              Send Message on Whatsapp
            </button>
          </form>
        </div>
      </div>

      <div class="search-bar">
        <input type="checkbox" id="search-input" />
        <label for="search-input" class="search-input">search checkbox</label>
        <input
          type="search"
          placeholder="Search Program..."
          class="search-bar-input"
        />
        <label for="search-input" class="searching open-search-bar"
          ><i class="fa-solid fa-magnifying-glass"></i
        ></label>
        <label for="search-input" class="searching close-search-bar"
          ><i class="fa-solid fa-xmark"></i
        ></label>
      </div>
    </nav>

    <div class="contact-form-page">
      <label for="contact-us-status-active" class="close-contact-us-page"
        >X</label
      >
      <!--send us a message-->
      <p class="amh">Contact Us</p>
      <form action="/submit" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />

        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="6" required></textarea>

        <button type="submit" class="button">Send Message</button>
      </form>
    </div>

    <section class="hero">
      <p class="hero-title">Scholarship &amp; Opportunities</p>
      <p class="title-intro">
        We offer a variety of programs to suit the needs of our students. Our
        programs are designed to provide quality education and practical skills
        that prepare students for the job market.
      </p>
    </section>

    <footer>
      <div class="foot">
        <div class="ending">
          <p class="article-title">Quick Links</p>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/programs">Our Programs</a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/scholarship-opportunities">Scholarship</a></li>
            <li><a href="#">News &amp; Updates</a></li>
          </ul>
        </div>

        <div class="ending">
          <p class="article-title">Our Contacts</p>
          <p>(+237) 677-777-177<br />(+237) 699-009-988</p>
          <p>
            Email: <a href="mailto:hehipeds@gmail.com">hehipeds@gmail.com</a>
          </p>
        </div>

        <div class="ending">
          <p class="article-title">Follow Us</p>
          <p>Facebook: <a href="#">Heritageforpeace</a></p>
          <p>Twitter: <a href="#">@HeritageUni</a></p>
          <p>Instagram: <a href="#">@heritage_university</a></p>
        </div>

        <div class="ending">
          <p class="article-title">Our Campuses</p>
          <p>WUM Campus: Opposite the Court of First Instance</p>
          <p>YAOUNDE Campus: Biyem-Assi, opposite Boulangerie Francaise</p>
        </div>
      </div>

      <div class="copyrights">
        <p>&copy; copyrights reserved 2025</p>
        <p>Heritage University</p>
      </div>
    </footer>
  </body>
</html>
