.hero {
  min-height: 300px;
  background-image: conic-gradient(rgba(1, 1, 50, 0.6)),
    url(../images/hero-bg-modified.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1em 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.hero-title {
  font-family: "Neuton", "Georgia", serif;
  font-size: 3.75rem;
  font-weight: 600;
  color: rgb(255, 160, 0);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
  letter-spacing: 4px;
  word-spacing: 20px;
}

.title-intro {
  display: inline-block;
  width: 580px;
  color: #f9f9f9;
  border-radius: 30px;
  padding: 1em;
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
  box-shadow: 0px 0px 5px rgba(255, 160, 0, 1);
}

.program-description {
  background-color: #cccccc;
  padding: 2% 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.program-description h3 {
  display: inline-block;
  margin: 1rem 0 0.5rem 0;
  font-family: "Neuton", Georgia, "Times New Roman", Times, serif;
  font-size: 1.625rem;
  color: rgb(1, 1, 50);
  border-bottom: 2px solid rgba(1, 1, 50, 1);
}

.HND-program {
  background-color: #f9f9f9;
  padding: 1em;
  line-height: 1.625em;
  border-radius: 30px;
  width: 48%;
}

.degree-masters-program {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.degree-masters-program div {
  background-color: #f9f9f9;
  padding: 1em;
  line-height: 1.625em;
  border-radius: 30px;
  flex: 1;
}

.program-description div ul li {
  list-style-position: inside;
  margin-left: 2rem;
}

.programs {
  margin: 2% 5%;
}

.programs-intro {
  padding: 10px 20px;
  background-color: #f9f9f9;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.programs-intro img {
  width: 120px;
  border-radius: 60px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.programs-intro p {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  padding: 20px;
}

.main-programs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.our-programs {
  width: 23%;
  padding: 0.625rem 1.25rem;
  border-radius: 30px;
  background-image: linear-gradient(
    #f9f9f9,
    rgba(1, 1, 50, 0.8),
    rgba(1, 1, 50, 1),
    rgba(1, 1, 50, 1)
  );
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.our-programs .amh,
.program-description .amh {
  color: rgb(255, 160, 0);
  background-color: rgba(1, 1, 50, 1);
  font-size: 1.75rem;
  padding: 0.625rem;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.our-programs img {
  width: 100%;
  border-radius: 30px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.our-programs ul li:not(.psl li) {
  list-style-type: none;
  font-size: 1.125rem;
  color: #f9f9f9;
  display: block;
  padding: 5px 0px;
}

.our-programs .psl {
  margin-left: 2rem;
}

.our-programs .psl li {
  color: #f9f9f9a2;
  list-style-type: disc;
}

.our-programs button {
  float: right;
}

.about-us {
  margin: 3% 5%;
}

.about-us h2 {
  margin-bottom: 10px;
  font-size: 2rem;
  font-family: "Neuton", "Georgia", serif;
  border-bottom: 2px solid black;
}

.our-staffs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 14px;
  margin-bottom: 30px;
}

.our-staffs div {
  text-align: center;
  width: 18.5%;
  min-width: 240px;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.our-staffs div p {
  padding: 10px;
}

.our-staffs img {
  width: 100%;
}

.our-culture {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.culture-boxes {
  width: 22%;
  min-width: 300px;
  text-align: center;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(1, 1, 55, 1);
  color: #f9f9f9;
}

.culture-boxes img {
  width: 100%;
  height: 240px;
}

.culture-boxes .desc {
  text-align: center;
  padding: 10px;
}

.our-partners-au {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.partner-boxes-au {
  width: 20%;
  text-align: center;
}

.partner-boxes-au p {
  font-weight: 600;
}

.partner-boxes-au img {
  width: 100%;
  height: auto;
  border-radius: 1em;
}

@media only screen and (max-width: 1260px) {
  .our-programs,
  .our-staffs div,
  .culture-boxes {
    width: 45%;
    height: auto;
  }
}

@media only screen and (max-width: 1000px) {
  .our-programs,
  .our-staffs div,
  .culture-boxes,
  .partner-boxes-au {
    width: 48%;
  }
}

@media screen and (max-width: 810px) {
  .program-description div {
    width: 100%;
  }
}

@media only screen and (max-width: 710px) {
  .hero-title {
    font-size: 3.125rem;
    letter-spacing: 2px;
    word-spacing: 5px;
  }

  .title-intro {
    width: 100%;
  }

  .about-us h2 {
    font-size: 1.875rem;
  }

  .our-programs,
  .our-staffs div,
  .culture-boxes {
    width: 100%;
  }

  .partner-boxes-au {
    width: 45%;
  }

  .partner-boxes-au p {
    font-size: 0.825rem;
  }

  .our-programs .amh,
  .program-description .amh {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 540px) {
  .hero-title {
    font-size: 2.5rem;
    word-spacing: 2px;
  }
}

@media only screen and (max-width: 350px) {
  .about-us h2 {
    font-size: 1.5rem;
  }
}
